<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PDF.Blzr</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="googlepdf/sample-1.pdf">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Google PDF (1)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="googlepdf/sample-2.pdf">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Google PDF (2)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pdfjs/sample-1.pdf">
                <span class="oi oi-list-rich" aria-hidden="true"></span> PDF JS (1)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pdfjs/sample-2.pdf">
                <span class="oi oi-list-rich" aria-hidden="true"></span> PDF JS (2)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pdf-files/sample-1.pdf">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Browser PDF (1)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pdf-files/sample-2.pdf">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Browser PDF (2)
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
