@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<p>
    <a href="googlepdf">View PDF with a Google Viewer (separate iframe)</a>
</p>
<p>
    <a href="pdfjs">View PDF with a PDF JS lib (in canvas)</a>
</p>
<p>
    <a href="sample.pdf">View PDF directly in browser</a>
</p>


