@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world @TestString!</h1>
<p>
    <a href="googlepdf/sample-1.pdf">View PDF with a Google Viewer (separate iframe) 1</a>
</p>
<p>
    <a href="googlepdf/sample-2.pdf">View PDF with a Google Viewer (separate iframe) 2</a>
</p>
<p>
    <a href="pdfjs/sample-1.pdf">View PDF with a PDF JS lib (in canvas) 1</a>
</p>
<p>
    <a href="pdfjs/sample-2.pdf">View PDF with a PDF JS lib (in canvas) 2</a>
</p>
<p>
    <a href="pdf-files/sample-1.pdf">View PDF directly in browser 1</a>
</p>
<p>
    <a href="pdf-files/sample-2.pdf">View PDF directly in browser 2</a>
</p>
@code {
        protected const string TestString = "test-string test";
}